.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  background: #2c3e50;
  background: -webkit-linear-gradient(to top, #fd746c, #2c3e50);
  background: linear-gradient(to top, #fd746c, #2c3e50);

  background-color: #222;
  color: #e6e6e6;
}
.wrapper {
  display: flex;
  align-items: center;

  flex-direction: column;
}
.product {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 25vw;
  flex-direction: column;
  height: 300px;
  border: 1px solid black;
  margin: 20px 0px;
  /* height: 50vw; */
}
.product input {
  padding: 10px 20px;
}
.product button {
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.products {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  flex-wrap: wrap;
}
.navbar {
  margin-top: -300px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  width: 90vw;
}
.title {
  margin-top: 50px;
}

.button {
  border: none;
  padding: 10px 30px;
  background-color: blue;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.submitButton {
  border: none;
  padding: 10px 30px;
  background-color: #42ba96;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
